/*

body {
  background-color: rgb(209, 217, 224);
}

*/
p {
    border-style: groove;
    padding: 2em;
    border-radius: 10em;
    text-align: center;
    margin-top: 3em;
    margin-right: 10em;
    margin-left: 10em;
    margin-bottom: 3em;
    background-color: #ddd;
}

table, th, td {

    padding: 15px;
    text-align: left;
}

table {
    width: 85%;
    margin-right: 10em;
    margin-left: 5em;
    border-radius: 10px;
}

th {
    background-color: rgb(33, 111, 152);
    height: 60px;
}

.dropbtn {
    background-color: #3d47dd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#t {
    margin-left: 7em;
    margin-right: 53em;
    margin-bottom: 0em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: x-large;
}

#jt {
    border-style: none !important;

}

#Addjob {
    margin-left: 48%;
}

#oferdjob {

    margin-right: 10%;
}

#welcom {
    margin-right: 50%;
}

#logout {

    margin-right: 16%;


}

h1 {
    color: darkorange;
}

.child {
    display: inline;
    color: #e3edf8;
}

.tdEdit:hover {
    color: #ade7a4;
}

